.countAtual{
    text-align: center;
    padding: 0.8rem;
    background-color: #b53f3f;

    &__title{
        color: #ebedf7;
        margin: 0;
        font-size: 1rem;
    }
}

.countButton{
    text-align: center;
         &__button{
        background-color: #616161;
        color: #ebedf7;
        font-size: 1rem;
        margin-left:1rem;
        margin-right:1rem;
    }
}