<h1 style="text-align: center;">exercicios-diretivas works!</h1>
<hr>

<!-- MODELO Diretiva ngIf -->

<div *ngIf="deveExibir; else elseBlock">
    <h2 style="text-align: center;">Olá, este é um ngIf</h2>
</div>

<ng-template #elseBlock>
    <h2 style="text-align: center;">Olá, este é o texto Alternativo do Else no ngIf</h2>
</ng-template>

<button (click)="trocarValor()" class="ifButton"> Exibir/Esconder</button>

<hr>
<!-- MODELO Diretiva ngFor -->
<!-- Semelhante ao ForOf -->

<ul>
    <li *ngFor="let fruta of listaFrutas"> {{ fruta }}</li>
</ul>

<br>
    <div *ngFor="let carro of carrosLista" class="container">
        <div class="card">
            <img src="{{carro.img}}" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>{{carro.modelo}} - {{carro.ano}} - {{carro.cor}}</b></h4>
              <p>Placa: {{carro.placa}}</p>
              <p>Alienado: {{carro.alienado}}</p>
            </div>
        </div>    
    </div>
