<main class="main">
    <h2> Inserir Novo Contato </h2>
    <hr>
    <div class="container pt-5">
        <form [formGroup]="contatoForm" >
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
            </div>

            <div class="form-group">
                <label for="cpf">Banco</label>
                <input type="text" class="form-control" id="banco" placeholder="Banco" formControlName="banco">
            </div>

            <div class="form-group">
                <label for="ag">Agência</label>
                <input type="number" class="form-control" id="ag" placeholder="0000" formControlName="ag">
            </div>

            <div class="form-group">
                <label for="conta">Conta</label>
                <input type="number" class="form-control" id="conta" placeholder="Conta-corrente" formControlName="conta">
            </div>
            <button type="submit" class="btn btn-info" (click)="salvarContato()">Salvar</button>

        </form>
    </div>

  </main>