.header {
  text-align: center;
  padding: 0.8rem;
  background-color: #313757;
 
  &__title{
      color: #ebedf7;
      margin: 0;
      font-size: 2rem;
  }
}

.nav-bar-list{
  background-color: #138496;


  li {
      display: inline;
     

      a{
          display: inline-block;
          color: #fff;
          padding: 14px 16px;
          text-decoration: none;
         
      }
  }
}

.ativado{
  background-color: #313757;
    
}

.logout{
  margin-left: 1rem;
  border-radius: 10%;
}