<!-- EXERCICIO CONTADOR -->

<app-contador>
    [valor]='10'
     (valorMudou)="onValorAtualizadoNoContador($event)"
 </app-contador>


<!-- EXEMPLOS DE EVENT BINDING -->

<button (click)="onClickBotaoEmissor($event)">
    Emitir informações de clique!
</button><br><br>


<button 
    (click)="onClick($event)"
    (mouseenter)="mousePass()">
    Clique Aqui!
</button><br>

<input type="text"
    [value]="valorDoInput"
    (keyup)="digitouAlgo($event)"><br>

Valor do Input: {{ valorDoInput }}

<hr>

<!-- EXEMPLOS DE PROPERTY BINDING -->

<p>Palavra: {{palavra}}</p>
<p>Cor: {{color}}</p>

<input type="text" [value]="InitialValue" ><br>

<button [disabled]="isDisabled">Clique em mim!</button><br>

<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText">
    Um texto qualquer...
</p><br>

<hr>

<p>exercicio-data-binding works!</p>

<img src="{{imgUrl}}" alt="dogCoder">

<p>img com property binding</p>

<img [src]="getImageUrl()" alt="dogCoder">
