<main class="main">
  <h2>Contatos</h2>

  
  <hr>
  <div class="listCenter">

  <div class="text-center mt-2">
      <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" *ngIf="estaCarregando">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  
      <div *ngIf="erroNoCarregamento">
          <h2> Deu Erro ! :(</h2>
      </div>

      <button type="button" class="btn btn-info btn-sm m-1 float-left" (click)="novoContato()">
        Novo Contato
      </button>
  
      <div *ngIf="!estaCarregando && !erroNoCarregamento">
  
            
      <div class="table-responsive">
              <table class="table table-hover">
              <thead class="thead-dark">
              <tr>              
                  <th scope="col" > Nome </th>
                  <th scope="col" > Ações </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let contato of contatos">
                  <td> {{ contato.nome}} </td>
                  <td>
                      <button type="button" class="btn btn-info btn-sm m-1" (click)="irParaDetalhes(contato.id)">
                          Ver Detalhes
                      </button>
                      <button type="button" class="btn btn-info btn-sm m-1" (click)="irParaEditar(contato.id)">
                          Editar
                      </button>
                      <button type="button" class="btn btn-danger btn-sm m-1" (click)="deletarContato(contato.id)">
                          Deletar
                      </button>
                  </td>
              </tr>
          </tbody>
          </table>
      </div>
  </div>
</div>
</main>